{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        {% for company in companies %}
            <div class="item col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ company.name }}</h5>
                        <p class="card-text">{{ company.desc }}</p>
                        <a class="btn btn-primary showDetail" href="#">查看详情</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}