<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="/">anti-996</a><button
            class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">996的公司<span
                            class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#">抵制996的公司</a></li>
                <li class="nav-item"><a class="nav-link" href="/html/article.html">法律法规</a></li>
                <!--<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#"-->
                <!--role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">法律法规</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"-->
                <!--href="#">头发越来越少</a><a class="dropdown-item" href="#">肚子越来越大</a>-->
                <!--<div class="dropdown-divider"></div><a class="dropdown-item" href="#">儿子越来越像老王</a>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="submitDropdown" href="#"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">提交信息</a>
                    <div class="dropdown-menu" aria-labelledby="submitDropdown"><a class="is-996 dropdown-item"
                            href="#">996的公司</a>
                        <div class="dropdown-divider"></div><a class="anti-996 dropdown-item" href="#">抵制996的公司</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
